{% extends 'base.html' %}
{% load static %}
{% block title %}Gestión de Reservaciones (Empleado){% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'reservaciones/css/gestion_admin.css' %}">
<div class="container">

    <div class="header-admin">
        <div class="d-flex align-items-center">
            <img src="{% static 'reservaciones/img/LOGO.png' %}" alt="Logo">
            <h2>Gestión de Reservaciones (Empleado)</h2>
            <hr>
        </div>

        <div>
            <a href="{% url 'index' %}" class="btn btn-regresar">
                <i class="bi bi-arrow-left-circle"></i> Regresar al menú
            </a>

            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger ms-2" style="border: 1px solid #dc3545;">
                    <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                </button>
            </form>
        </div>
    </div>
    <div class="botones">
    </div>


    <div class="table-responsive">
        <table class="table table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Teléfono</th>
                    <th>Fecha</th>
                    <th>Invitados</th>
                    <th>Tipo de Evento</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for r in reservaciones %}
                <tr>
                    <td>{{ r.nombreCliente }}</td>
                    <td>{{ r.telefono }}</td>
                    <td>{{ r.fechaEvento|date:"d/m/Y" }}</td>
                    <td>{{ r.numInvitados }}</td>
                    <td>
                        {% if r.tipoEvento == 'boda' %}Boda{% endif %}
                        {% if r.tipoEvento == 'cumpleaños' %}Cumpleaños{% endif %}
                        {% if r.tipoEvento == 'quinceaños' %}Quinceaños{% endif %}
                        {% if r.tipoEvento == 'corporativo' %}Evento Corporativo{% endif %}
                        {% if r.tipoEvento == 'otro' %}Otro{% endif %}
                    </td>

                    <td>{{ r.estatus|capfirst }}</td>
                    <td>
                        <a href="{% url 'actualizar_estatus_empleado' r.id %}" class="btn btn-editar btn-sm">
                            <i class="bi bi-pencil"></i> Cambiar Estatus
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No hay reservaciones registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}