:root {
    --primario:          #604abd;
    --secundario:        #cac1f6;
    --secundario-light:  #f1eeff;
    --secundario-dark:   #837aae;
    --terciario:         #f4d85a;
    --terciario-light:   #fff6cd;
    --terciario-dark:    #b39e40;
    --blanco:            #fff;
    --semi-blanco:       #f8f8f8;
    --gris:              #efefef;
    --gris-fuerte:       #4b4b4b;
    --negro:             #343434;
    --transparente:      rgba(255, 255, 255, 0);
    --shadow:            rgba(165,145,239,0.30);
}

[data-theme="dark"] {
    h1 {
        color: var(--terciario);
    }

    .hero-section {
        background-color: var(--primario);
    }

    .hero-section p {
        color: var(--blanco);
    }

    .btn-primary {
        background-color: var(--blanco);
        border: 3px solid var(--blanco);
        color: var(--primario);
    }

    .btn-primary:hover {
        background-color: var(--transparente);
        border: 3px solid var(--blanco);
        color: var(--blanco);
    }

    .btn-secondary {
        background-color: var(--terciario);
        border: 3px solid var(--terciario);
        color: var(--negro);
    }

    .btn-secondary:hover {
        color: var(--blanco);
    }

    .about-section {
    background-color: var(--negro);
    }

    .about-section h2 {
        color: var(--blanco);
    }

    .about-section p {
        color: var(--blanco);
    }

    .about-section .btn {
        background-color: var(--primario);
        border-color: var(--primario);
        color: var(--blanco);
    }

    .about-section .btn:hover {
        background-color: var(--transparente);
        border-color: var(--blanco);
    }

    .card-about {
        background-color: var(--primario);
        box-shadow: 0px 0px 6px 2px var(--shadow);
        -webkit-box-shadow: 0px 0px 6px 2px var(--shadow);
        -moz-box-shadow: 0px 0px 6px 2px var(--shadow);
    }

    .card-about:hover {
        background-color: var(--secundario-dark);
        color: var(--blanco);
    }

    .card-about i {
        color: var(--secundario);
    }

    .card-about:hover i{
        color: var(--blanco);
    }

    .card-about h3 {
        color: var(--secundario);
    }

    .card-about:hover h3 {
        color: var(--blanco);
    }

    .card-about-dark {
        background-color: var(--primario);
        box-shadow: 0px 0px 6px 2px var(--shadow);
        -webkit-box-shadow: 0px 0px 6px 2px var(--shadow);
        -moz-box-shadow: 0px 0px 6px 2px var(--shadow);
    }

    .card-about-dark:hover {
        background-color: var(--secundario-dark);
        color: var(--blanco);
    }

    .card-about-dark i {
        color: var(--secundario) !important;
    }

    .card-about-dark:hover i{
        color: var(--blanco) !important;
    }

    .card-about-dark h3 {
        color: var(--secundario);
    }

    .card-about-dark:hover h3 {
        color: var(--blanco);
    }

    .services-section {
        background-color: var(--primario);
    }

    .services-section i {
        color: var(--blanco)
    }

    .services-section h2 {
        color: var(--blanco);
    }

    .services-section .description-text {
        color: var(--blanco);
    }

    .services-section .card-services {
        background-color: var(--secundario-dark);
        color: var(--blanco);
    }

    .services-section .card-services:hover {
        background-color: var(--terciario);
        color: var(--negro);
    }

    .services-section .card-services h3{
        color: var(--blanco);
    }

    .services-section .card-services:hover h3 {
        color: var(--negro);
    }

    .testimonial-section {
        background-color: var(--gris-fuerte);
    }

    .card-testimonial {
        background-color: var(--negro);
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .card-testimonial:hover {
        background-color: var(--primario);
    }

    .card-testimonial p {
        color: var(--blanco);
    }
}

html {
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: 'Bungee';
    font-size: 5rem;
    color: var(--primario);
}

h2 {
    font-family: 'Bungee';
    font-size: 3rem;
}

h3 {
    font-family: 'Bungee';
    font-size: 1.5rem;
}

.p-text {
    font-size: 1rem;
    text-align: justify;
}

.hero-section {
    background-color: var(--blanco);
    background-image: url(../imgs/fondo\ hero.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-section p {
    color: var(--negro);
}

.hero-section .p-text {
    max-width: 400px;
}

.hero-image-container {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
}

.hero-image.active {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
}

.hero-image:not(.active) {
    z-index: 1;
    transition-delay: 0.2s;
}

.btn {
    border-radius: 5px;
    padding: 8px 15px;
    transition: ease 0.3s;
}

.btn:hover {
    transform: translateY(-8px);
}

.btn-primary {
    background-color: var(--primario);
    border: 3px solid var(--primario);
    color: var(--blanco);
}

.btn-primary:hover {
    background-color: var(--transparente);
    border: 3px solid var(--primario);
    color: var(--primario);
}

.btn-secondary {
    background-color: var(--terciario);
    border: 3px solid var(--terciario);
    color: var(--negro);
}

.btn-secondary:hover {
    background-color: var(--transparente);
    border: 3px solid var(--terciario);
    color: var(--negro);
}

.about-section {
    background-color: var(--secundario-light);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-section h2 {
    color: var(--primario);
}

.card-about {
    background-color: var(--semi-blanco);
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px var(--shadow);
    -webkit-box-shadow: 0px 0px 6px 2px var(--shadow);
    -moz-box-shadow: 0px 0px 6px 2px var(--shadow);
    transition: ease 0.3s;
}

.card-about:hover {
    transform: translateY(-8px);
    background-color: var(--primario);
    color: var(--blanco);
}

.card-about i {
    color: var(--primario);
}

.card-about:hover i{
    color: var(--blanco);
}

.card-about-dark {
    background-color: var(--primario);
    color: var(--blanco);
}

.card-about-dark i {
    color: var(--blanco) !important;
}

.card-about-dark i {
    color: var(--blanco) !important;
}

.card-about-dark:hover {
    background-color: var(--blanco);
    color: var(--negro);
}

.card-about-dark:hover i {
    color: var(--primario) !important;
}

.btn-dark-mode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.btn-dark-mode:hover {
    transform: scale(1.1);
    background-color: var(--primario);
    color: var(--blanco);
}

.services-section {
    background-color: var(--blanco);
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: visible !important;
}

.services-section .description-text {
    max-width: 750px;
}

.card-services {
    background-color: var(--gris);
    box-shadow: 0px 0px 6px 2px var(--gris--);
    -webkit-box-shadow: 0px 0px 6px 2px var(--gris--);
    -moz-box-shadow: 0px 0px 6px 2px var(--gris--);
}

.card-services h3 {
    color: var(--primario);
}

.card-services:hover h3 {
    color: var(--terciario);
}

.testimonial-section {
    background-color: var(--primario);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testimonial-section h2, .testimonial-section p {
    color: var(--blanco);
}

.testimonial-section .description-text {
    max-width: 750px;
}

.card-testimonial {
    background-color: var(--secundario-light);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.card-testimonial:hover {
    background-color: var(--terciario);
}

.card-testimonial p {
    color: var(--negro);
}

.card-testimonial i {
    color: var(--secundario-dark);
}

.card-testimonial:hover i {
    color: var(--negro);
}

.testimonial-section .btn {
    background-color: var(--blanco);
    border-color: var(--blanco);
    color: var(--primario);
}

.testimonial-section .btn:hover {
    background-color: var(--transparente);
    border-color: var(--blanco);
    color: var(--blanco);
}

@media (min-width: 769px) and (max-width: 992px) {
    
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    .hero-image {
        width: 50%;
    }

    .hero-image-col {
        display: none;
    }

    .hero-section .p-text {
        margin: 0 auto;
    }

    .buttons-group .btn {
        width: 75%;
    }
}