:root {
    --primario:          #604abd;
    --secundario:        #cac1f6;
    --secundario-light:  #f1eeff;
    --secundario-dark:   #837aae;
    --terciario:         #f4d85a;
    --terciario-light:   #fff6cd;
    --terciario-dark:    #d0b123;
    --blanco:            #fff;
    --semi-blanco:       #f8f8f8;
    --gris:              #efefef;
    --negro:             #343434;
    --transparente:      rgba(255, 255, 255, 0);
}

[data-theme="dark"] {
    --primario:          #604abd;
    --secundario:        #cac1f6;
    --secundario-light:  #f1eeff;
    --secundario-dark:   #837aae;
    --terciario:         #f4d85a;
    --terciario-light:   #fff6cd;
    --terciario-dark:    #d0b123;
    --blanco:            #fff;
    --semi-blanco:       #f8f8f8;
    --gris:              #efefef;
    --negro:             #343434;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: 'Bungee';
    font-size: 3rem;
    color: var(--primario);
}

.p-text {
    font-size: 1rem;
    text-align: justify;
}

.hero-section {
    background-color: var(--blanco);
    background-image: url(../imgs/fondo\ hero.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-section p {
    color: var(--negro);
}

.hero-section .p-text {
    max-width: 400px;
}

.hero-image-container {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
}

.hero-image.active {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
}

.hero-image:not(.active) {
    z-index: 1;
    transition-delay: 0.2s;
}

.btn {
    border-radius: 5px;
    padding: 8px 15px;
    transition: ease 0.3s;
}

.btn:hover {
    transform: translateY(-8px);
}

.btn-primary {
    background-color: var(--primario);
    border: 3px solid var(--primario);
    color: var(--blanco);
}

.btn-primary:hover {
    background-color: var(--transparente);
    border: 3px solid var(--primario);
    color: var(--primario);
}

.btn-secondary {
    background-color: var(--terciario);
    border: 3px solid var(--terciario);
    color: var(--negro);
}

.btn-secondary:hover {
    background-color: var(--transparente);
    border: 3px solid var(--terciario);
    color: var(--negro);
}

@media (min-width: 769px) and (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .hero-image {
        width: 50%;
    }

    .hero-section .p-text {
        margin: 0 auto;
    }
}